.card-white {
  background-color: white;
  border: 1px solid rgb(240, 240, 240);
  padding: 8px;
  width: 400px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  border-radius: 2px;
  position: relative;
}

.card-white-image {
  background-size: cover;
  background-position: center;
  height: 300px;
}

.scroll-up-section {
  opacity: 0;
  transition: .3s;
  position: absolute;
  bottom: 0px;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-white:hover .scroll-up-section {
  opacity: 1;
  background-color: white;
  height: 50px;
}

.list-inline {
  color: #B0B0B0;
}

.card-text p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.btn {
  background: white;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 4px;
  color: gray;
  padding: 4px 8px;
}

.btn:hover {
  color: black;
  border: 1px solid rgb(140, 140, 140);
}

.fas {
  padding:  2px;
}




